<dt id="method-{{ scope | canonicalize_class }}.{{ membername }}">
	<span class="function-name">{{ membername }}</span>
	{%- if memberoverloads -%}
	<a href="#method-{{ scope | canonicalize_class }}.{{ membername }}" class="header-anchor">⬨</a>
		{%- for membertype in memberoverloads -%}
			{%- if prefix and membertype | slice: 0, prefixlen == scoped -%}
				{%- assign membertypeinfo = prefixtypes[membertype] -%}
			{%- else -%}
				{%- assign membertypeinfo = docs.types[membertype] -%}
			{%- endif -%}
	<span class="function-overload">{%- include signature.html minparams=include.minparams -%}</span>
		{%- endfor -%}
	{%- else -%}
		{%- include signature.html minparams=include.minparams -%}
	<a href="#method-{{ scope | canonicalize_class }}.{{ membername }}" class="header-anchor">⬨</a>
	{%- endif %}
</dt>
