<header id="site-header">
  <a id="site-title" href="{{ site.baseurl }}/">Home</a>

  <nav id="site-nav">
  {% for page in site.pages %}
    {% if page.title and page.nav %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
  {% endfor %}
    <a class="page-link" href="https://forums.mgba.io/">Forums</a>
  </nav>

</header>
<nav id="sub-nav">
  <h2>Tags</h2>
  {% capture rawtags %}
    {% for tag in site.tags %}
      {{ tag[0] | replace:' ','-' }}
    {% endfor %}
    {% for page in site.pages %}
      {% for tag in page.tags %}
        {{ tag | replace:' ','-' }}
      {% endfor %}
    {% endfor %}
  {% endcapture %}
  {% assign tags = rawtags | split:' ' | sort | uniq %}

  <ul>
  {% for tag in tags %}
    <li id="tag-{{ tag }}"><a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag | replace:'-',' ' }}</a></h3>
  {% endfor %}
  </ul>
</nav>
