<ol class="downloads">
{% assign releases = site.data.releases[{{include.product}}] | reverse %}
{% for dl in releases %}
	<li>
		<span class="download-name">
		{{ dl.release }}
		</span>
		<ul>
		{% for platform in site.data.platforms.platforms %}
		{%- assign platname = platform[0] -%}
		{% if dl.platforms[platname] %}
            <li class="download-platform">
				<a href="https://s3.amazonaws.com/mgba/{{ dl.platforms[platname].name }}" rel="nofollow">{{ platform[1].readable }}</a> <span class="download-size">({{ dl.platforms[platname].size | divided_by: 100000 | divided_by: 10.0 }} MB)</span>
            </li>
		{% endif %}
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ol>
